<div id="mainBkgBlockFooter" class=".container-fluid card-footer">
    <div id="footer-wrapper" class="container">
        <div id="bbInfoFooter" class="container text-center">{{appInfo.footerBanco}}</div>
    </div>   
</div>