
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
.dataTables_wrapper .dataTables_filter label {
    color: black;
}
.dataTables_wrapper .dataTables_info {
    color: black;
}
table.dataTable tbody tr.selected {
    background-color: #B0BED9;
}